td, th {
    vertical-align: middle;
    text-align: center;
}

.components {
    padding-left: 1em;
    padding-right: 1em;
}

p {
    font-size: larger;
} 

@media only screen and (max-width: 900px) {
    .col-6{
        flex: 0 0 100%;
        max-width: none;
    }
}